/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
    #4b6174; Dark blue
    #ffdad8; Pink
    #bdd4fc; Light Blue
    #e3e9ee; Light Grey
*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    height: 125px;
    width: 150px;

}
header {
    background-color: #4b6174;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.77);
}
.navbar-nav .nav-link {
    color: #e3e9ee !important;
    padding: 15px 5px !important;
    margin-left: 15px !important;
}
    .navbar-nav .nav-link:hover {
        color: #ffdad8 !important;

    }
    .navbar-nav {
        margin-left: 75%;
        border: solid 1px #ffdad8;
    }
.navbar navbar-expand {
    background-color: #4b6174;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.77);
}
#Signin {
    color: #e3e9ee;
    cursor: pointer;
    
}
#Logoimg {
    height: 125px;
    width: 180px;
    margin-left: -100px;
    margin-top: -5px;
}
.navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse {
    background-color: #4b6174;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.77);
}
/* Provide sufficient contrast against white background */
a {
    color: #fafafa;
}

.btn-primary {
  color: #fff;

}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: "ABeeZee";
    font-weight: 400;
    font-style: normal;
   
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #fafafa;
}
.border-bottom {
    border-bottom: 1px solid #fafafa;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
    color: #fafafa !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    color: #fafafa !important;
    background-color: #4b6174;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
