
@{
    ViewData["Title"] = "IndexII";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Homepage.css" />
    <link rel="stylesheet" href="~/css/materialStyles.css" />

}
@section Scripts{
    <script src="~/lib/material.min.js"></script>
}
<h1>IndexII</h1>
<div class="container-fluid">
    <div class="row">
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">Tab 2</a>
            <a href="#scroll-tab-3" class="mdl-layout__tab">Tab 3</a>
            <a href="#scroll-tab-4" class="mdl-layout__tab">Tab 4</a>
            <a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
            <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a>
        </div>

        <div id="" class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
        </div>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                <div class="page-content">Content Tab 1</div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-2">
                <div class="page-content">Content Tab 2</div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-3">
                <div class="page-content">Content Tab 3</div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-4">
                <div class="page-content">Content Tab 4</div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-5">
                <div class="page-content">Content Tab 5</div>
            </section>
            <section class="mdl-layout__tab-panel" id="scroll-tab-6">
                <div class="page-content">Content Tab 6</div>
            </section>
        </main>
    </div>
</div>

